@font-face {
    font-family: 'Smokum-Regular';
    src: url("../assets/Smokum-Regular.ttf");
}

@font-face {
    font-family: "Western Brother";
    src: url("../assets/Western\ Brother.ttf");
}

html{
    background: #121212;
}

.atributes-page{
    width: 100vw;
    height: 100vh;
    background: #121212;
}

.box-chamber{
    display: flex;
    width: 100vw;
    justify-content: center;
}

.atributes-title{
    font-family: "Western Brother", sans-serif;
    display: flex;
    justify-content: center;
    font-size: 42px;
    margin: 0px;
    color: #FFF;
}

.chamber{
    border: solid #A61D1C;
    background: #100f0f;
    width: 312px;
    height: 312px;
    border-radius: 45%;
}

.atributes-place input{
    all: unset;
    font-family: 'Smokum-Regular', sans-serif;
    border-bottom: solid #FFF 1px;
    width: 32px;
    font-size: 32px;
    color: #FFF;
    text-align: center;
    padding: 0px;
    top: calc(30% - 0.5em);
    right: calc(50% - 16px);

    position: absolute;
}

.atributes-place input.no-border {
    border-bottom: none;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    appearance: none; /* Remove setas no padrão moderno */
    -moz-appearance: textfield; /* Remove setas no Firefox */
    -webkit-appearance: none; /* Remove setas no Chrome/Safari */
}

.atributes-place{
    display: flex;
    border-radius: 50%;
    border: solid #A61D1C 2px;
    width: 6em;
    height: 6em;
    position: relative;
}

.atributes-place p{
    margin: 0;
    font-size: 32px;
    color: #FFF;
    font-family: 'Smokum-Regular', sans-serif;

    position: absolute;

    bottom: 2px;
    right: calc(50% - 17px);
}

.line1 .atributes-place{
    top: 10px;
}

.line2 #atributes-place-int {
    left: 10px;
}

.line2 #atributes-place-agl{
    right: 10px;
}

.line3 .atributes-place{
    bottom: 10px;
}

.inputs{
    height: 100%;
    width: 100%;
}

.line2{
    display: flex;
    justify-content: space-between;
    height: 33.33%;
    position: relative;
}

.line1, .line3{
    display: flex;
    width: 100%;
    height: 33.33%;
    justify-content: center;

    position: relative;
}       

.area-edit-button{
    display: flex;
    justify-content: end;
}

@media (max-width: 350px){
    .chamber{
        width: 260px;
        height: 290px;
    }
}