body, html {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;   /* Centraliza na vertical */
  align-items: center;       /* Centraliza na horizontal */
  height: 100vh;             /* Ocupa a tela toda */
}

.text-login {
  font-size: 1.5em;
  color: white;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  
}

.button-login {
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Western Brother', sans-serif;
  cursor: pointer;
}